.categoires {
    border: 1px solid #ddd;
    // height: 430px;
    // overflow-y: auto;
    .cat-title {
        padding: 13px;
        background-color: $green;
        display: flex;
        align-items: center;
        .title {
            margin-left: 15px;
            font-size: 15px;
            color: #fff;
            font-weight: bolder;
        }
        .fas {
            font-size: 20px;
            color: #fff;
            margin-left: 15px;
        }
    }
    .cat-list {
        a:hover {
            color: #fff;
        }
        ul {
            padding: 0;
            margin-top: 15px;
        } 
        .li-content {
            padding: 1px;
            display: flex;
            cursor: pointer;
            transition: all .3s;
            li {
                display: flex;
                align-items: center;
                list-style-type: none;
                margin-left: 26px;
                margin-bottom: 17px;
                transform: translateY(7px);
                p {
                    margin-left: 10px;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: roboto;
                }
            }
            &:hover {
                background-color: $green;
                color: #fff;
                a {
                    color: #fff;
                }
            }
        }
    }
}

.custom-navbar {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 15px;
    .fa-home {
        color: $green;
        transform: translate(-4px, -1px);
    } 
    h4 {
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        margin-right: 40px;
        transition: all .3s;
        cursor: pointer;
        &:hover {
            color: $green;
        }
    }
}

.slider-content {
    position: relative;
    .slider {
        margin-top: 20px;
        .slider-img {
            img {
                width: 100%;
                height: 360px;
            }
        }
        .slick-dots {
            bottom: 17px;
            z-index: 1;
        }
        .slick-dots li button:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "•";
            width: 20px;
            height: 20px;
            font-family: "slick";
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            color: $green;
            /* opacity: 0.25; */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
    .aside-img-slider {
        img {
            width: 200px;
            position: absolute;
            right: 20px;
            top: 20px;
            height: 170px;
        }
    }
    .aside-img-bottom-slider {
        img {
            width: 200px;
            position: absolute;
            right: 20px;
            top: 207px;
            height: 170px;
        }
    }
}
