.card-body-for-register {
    .form-control:focus {
        border-color: $green;
        box-shadow: 0 0 0 0.2rem $green;
    }
    .btn-primary {
        background-color: $green;
        border-color: $green;
    }
}

a {
    color: #000;
    &:hover {
        color: #000;
        text-decoration: none;
    }
}