body {
    background-color: #fff;
}

.page-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

p {
    margin: 0
}

.popular-category {
    
    margin-top: 30px;

    .top-tittle {
        display: flex;
        align-items: center;
        @media (max-width:$mobile) {
            justify-content: space-between;
        }
        .line {
            width: 75%;
            background: #ddd;
            height: 1px;
            margin: 0 20px;
            @media (max-width:$mobile) {
                display: none;
            }
        }   
        strong {
            font-size: 22px;
            font-family: 'roboto';
        }
        .arrows {
            display: flex;
        }
        .arrow {
            background: #fff;
            border: 1px solid #ddd;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #222;
            margin-right: 5px;
            cursor: pointer;
            transition: all .3s;
            &:hover {
                background-color: $green;
                color: #fff;
            }
        }
    }

    .categories-slider {
        margin-top: 40px;
        img {
            width: 80%;
            transition: all .3s;

        }
        .category-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transform: translateX(2px);
            // background: red;
            margin: 0 12px;
            cursor: pointer;
            transition: all .3s;
            &:hover {
                h5 {
                    font-weight: 700;
                    color: $green;
                }
                img {
                    opacity: .8;
                }
            }
            h5 {
                font-size: 21px;
                transition: all .3s;
            }
            P {
                color: #666666;
            }
        }
    }
}

.two-imgs {
    margin-top: 70px;
    img {
        width: 100%;
    }
}

.new-products {
    margin-top: 100px;
    .top-tittle {
        display: flex;
        align-items: center;
        @media (max-width:$mobile) {
            justify-content: space-between;
        }
        h4 {
            font-size: 22px;
            font-family: 'roboto';
            font-weight: 700;
        }
        .line {
            height: 1px;
            width: 49%;
            background: #ddd;
            margin: 0 10;
            margin: 0 15px;
            @media (max-width:$mobile) {
                display: none;
            }
        }
        .new-product-cat-list {
            margin: 0 5px;
            padding: 5px;
            cursor: pointer;
            transition: all .3s;
            &:hover {
                background-color: $green;
                color: #fff;
            }
            @media (max-width:$mobile) {
                display: none;
            }
        }
        .new-product-cat-list-responsive {
            display: none;
            @media (max-width:$mobile) {
                display: block;
            }
        }
    }
.card-wrapper {
    display: flex;
    margin-top: 20px;
    position: relative;
    @media (max-width:$mobile) {
        flex-direction: column;
    }
    .product-card {
        .product-price {
            margin-top: 10px;
            display: flex;
            h4 {
                font-weight: 700;
                font-size: 16px;
                // color: $green;
            }
            .old_price {
                margin-left: 15px;
                color: #999;
                font-weight: 400;
                text-decoration: line-through;
                font-family: 'roboto';
            }
        }
        position: relative;
        margin: 0 20px;
        &:hover {
            .add-hover {
                bottom: -40px;
                opacity: 1;
                @media (max-width:$mobile) {
                    bottom: 0px;
                }
            }
        }
        .img-card {
            border: 1px solid #ddd;
            border-radius: 5px;
            position: relative;
            cursor: pointer;
            transition: all .3s;
            img {
                width: 100%;
            }
            &:after {
                content: "";
                position: absolute;
                /* width: 100%; */
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                /* height: 100%; */
                z-index: 1;
                opacity: 0;
                background-color: #c7c7c7;
                transition: all .3s;

            }
            &:hover {
                &:after {
                    opacity: .4;   
                }
                .view-hover {
                    transform: scale(1);
                }
            }
            .view-hover {
                background: #fff;
                border-radius: 5px;
                padding: 5px;
                position: absolute;
                top: 45%;
                left: 44%;
                // transform: translate(-50%, -50%) !important;
                width: 37px;
                text-align: center;
                z-index: 10;
                transform: scale(0);
                transition: all .3s;

            }
        }
        .product-tittle {
            margin-top: 10px;
            h4 {
                font-size: 100%;
                font-weight: 700;
                transition: all .3s;
                cursor: pointer;
                &:hover {
                    color: $green;
                }
                @media (max-width:$mobile) {
                    font-size: 22px;
                }
            }
        }
        .product-avis {
            i {
                color:#ffc000;
                @media (max-width:$mobile) {
                    font-size: 22px;
                }
            }
        }
        .product-price {
            margin-top: 10px;

            h4 {
                font-weight: 700;
                font-size: 16px;
                // color: $green;
                @media (max-width:$mobile) {
                    font-size: 22px;
                }
            }
         
        }
        .add-hover {
            display: flex;
            align-items: center;
            position: absolute;
            bottom:-15px;
            opacity: 0;
            transition: all .3s;
            @media (max-width:$mobile) {
                width: 100%;
            }
            .add-to-card {
                background-color: #5ea606;
                color: #fff;
                padding: 7px 3px;
                width: 100%;
                border-radius: 3px;
                display: flex;
                align-items: center;
                cursor: pointer;
                img {
                    width: 25px;
                    margin: 0 10px;
                    @media (max-width:$mobile) {
                        width: 15%;
                    }
                }
                }
                span {
                    font-size: 15px;
                    font-weight: 400;
                    @media (max-width:$mobile) {
                        font-size: 190%;
                    }
                }
            }
            .heart-hover {
                background: #fff;
                border-radius: 5px;
                border: 1px solid #ddd;
                width: 60px;
                height: 40px;
                margin-left: 17px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all .3s;
                i {
                    font-size: 18px;
                }
                &:hover {
                    background-color: $green;
                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.three-img {
    margin: 100px 0;
    img {
        width: 100%;
    }
}

.deal-of-day {
    .top-tittle {
        display: flex;
        align-items: center;
        @media (max-width:$mobile) {
            justify-content: space-between;
        }
        .line {
            width: 75%;
            background: #ddd;
            height: 1px;
            margin: 0 20px;
            @media (max-width:$mobile) {
                display: none;
            }
        }   
        strong {
            font-size: 22px;
            font-family: 'roboto';
        }
        .arrows {
            display: flex;
        }
        .arrow {
            background: #fff;
            border: 1px solid #ddd;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #222;
            margin-right: 5px;
            cursor: pointer;
            transition: all .3s;
            &:hover {
                background-color: $green;
                color: #fff;
            }
        }
    }
}

.deal-card-wrapper {
    margin-top: 30px;
    .deal-card {
        height: 380px;
        border: 1px solid #ddd;
        display: flex;
        padding: 20px;
        margin: 0 10px;
        @media (max-width:$mobile) {
            height: 675px;
            flex-direction: column;
        }
        .description {
            margin-left: 35px;
        }
        .index-img {
            img {
                width: 200px;
                @media (max-width:$mobile) {
                    width: 100%;
                }
            }
        }
        .side-imgs {
            display: flex;
            flex-direction: column;
            .img {
                border: 1px solid #ddd;
                margin-bottom:10px;
                cursor: pointer;
                img {
                    width: 100px;
                }
            }
            @media (max-width:$mobile) {
                display: none;
            }
        }
        .tittle {
            h4 {
                font-size: 20px;
                font-weight: bold;
                color: #444;
                font-family: 'roboto', sans-serif;
            }
        }
        .price {
            span {
                font-size: 20px;
                color: $green !important;
                font-weight: bold;
                font-family: 'roboto', sans-serif;

            }
        }
        .avis {
            margin-top: 5px;
            i {
                color: #ffc000;
            }
        }
        .description-text {
            margin: 20px 0;
            span {
                color: #999;
            }
        }
        .add-hover {
            display: flex;
            align-items: center;
            position: absolute;
            transition: all .3s;
            .add-to-card {
                padding: 7px 3px;
                width: 100%;
                border-radius: 3px;
                display: flex;
                align-items: center;
                border: 1px solid #ddd;
                cursor: pointer;
                img {
                    width: 25px;
                    margin: 0 10px;
                }
                span {
                    font-size: 15px;
                    font-weight: 400;
                    color: #222;
                }
            }
            .heart-hover {
                background: #fff;
                border-radius: 5px;
                border: 1px solid #ddd;
                width: 60px;
                height: 40px;
                margin-left: 17px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all .3s;
                i {
                    font-size: 18px;
                }
                &:hover {
                    background-color: $green;
                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.feature-product {
    margin-top: 100px;
    .top-tittle {
        display: flex;
        align-items: center;
        h4 {
            font-size: 19px;
            font-family: 'roboto';
            font-weight: 700;
            margin-left: 20px;
        }
        .line {
            height: 1px;
            width: 45%;
            background: #ddd;
            margin: 0 10;
            margin: 0 15px;
        }
        .new-product-cat-list {
            margin: 0 5px;
            padding: 5px;
            cursor: pointer;
            transition: all .3s;
            &:hover {
                background-color: $green;
                color: #fff;
                border-radius: 5px;
            }
        }
    }
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    .product-card {
        position: relative;
        margin: 0 20px;
        margin-top: 30px;
        &:hover {
            .add-hover {
                bottom: -2%;
                opacity: 1;
            }
        }
        .img-card {
            border: 1px solid #ddd;
            border-radius: 5px;
            position: relative;
            cursor: pointer;
            transition: all .3s;
            img {
                width: 100%;
            }
            &:after {
                content: "";
                position: absolute;
                /* width: 100%; */
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                /* height: 100%; */
                z-index: 1;
                opacity: 0;
                background-color: #c7c7c7;
                transition: all .3s;

            }
            &:hover {
                &:after {
                    opacity: .4;   
                }
                .view-hover {
                    transform: scale(1);
                }
            }
            .view-hover {
                background: #fff;
                border-radius: 5px;
                padding: 5px;
                position: absolute;
                top: 45%;
                left: 44%;
                // transform: translate(-50%, -50%) !important;
                width: 37px;
                text-align: center;
                z-index: 10;
                transform: scale(0);
                transition: all .3s;

            }
        }
        .product-tittle {
            margin-top: 10px;
            h4 {
                font-size: 100%;
                font-weight: 700;
                transition: all .3s;
                cursor: pointer;
                &:hover {
                    color: $green;
                }
            }
        }
        .product-avis {
            i {
                color:#ffc000;
            }
        }
        .product-price {
            margin-top: 10px;
            display: flex;
            h4 {
                font-weight: 700;
                font-size: 16px;
                // color: $green;
            }
            .old_price {
                margin-left: 15px;
                color: #999;
                font-weight: 400;
                text-decoration: line-through;
                font-family: 'roboto';
            }
        }
        .add-hover {
            display: flex;
            align-items: center;
            position: absolute;
            bottom:10%;
            opacity: 0;
            transition: all .3s;
            .add-to-card {
                background-color: #5ea606;
                color: #fff;
                padding: 7px 3px;
                width: 100%;
                border-radius: 3px;
                display: flex;
                align-items: center;
                cursor: pointer;
                img {
                    width: 25px;
                    margin: 0 10px;
                }
                }
                span {
                    font-size: 15px;
                    font-weight: 400;
                }
            }
            .heart-hover {
                background: #fff;
                border-radius: 5px;
                border: 1px solid #ddd;
                width: 60px;
                height: 40px;
                margin-left: 17px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all .3s;
                i {
                    font-size: 18px;
                }
                &:hover {
                    background-color: $green;
                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
}
.card-wrapper-2 {
    margin-top:50px !important;
}

.no_new_product_ajax {
    text-align: center;
    font-weight: bold;
}

  
.lds-roller {
    background: #fff;
    width: 100%;
    height: 101%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $green;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

#loader_feature {
    background: #fff;
    width: 100%;
    height: 74%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}